<style>

body {
  background-image : url('https://cdn.pixabay.com/photo/2015/03/16/23/21/cat-676972_960_720.jpg');
  image-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  height:30em;
}

</style>

<body>

<div class="container card card-body" style="padding-bottom:0px; border-radius:20px; background-color:white; opacity:92%; margin-top:120px; margin-bottom:80px;">
    <h1 class="text-center"><%= current_user.first_name %> <%= current_user.last_name %></h1>

  <div class="section profile-content">
    <div class="container" >
      <div class="owner">
        <div class="name">
          <h4 class="title"><%=current_user.email%></h4>
	      <%if @user.avatar.attached?%>
          <%= image_tag @user.avatar, alt: 'avatar', class:"card card-image mx-auto", style:"width:28%;"%>
        <%else%>
          <div class="avatar" style="padding-bottom:20px; border-radius:10px; max-auto; margin-top:20px;">
            <img src="http://www.cinemas-utopia.org/admin/films_img/img37/3637.jpeg" alt="Circle Image" class="card-image">
          </div>
	       <%end%>
        </div>
      </div>

      <br/>
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#follows" role="tab">Historique de mes commandes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#following" role="tab">Mes options</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Tab panes -->
      <div class="tab-content following">
        <div class="tab-pane active" id="follows" role="tabpanel">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <ul class="list-unstyled follows">

                <% i = 1 %>

                <% @order.each do |t| %>
                  <li>
                    <div class="row max-auto">

                        <div class="col-lg-2 col-md-4 col-4 ml-auto mr-auto">
                          <img src="https://vignette.wikia.nocookie.net/lego/images/1/1f/Friendscat.jpg/revision/latest?cb=20120117181029" alt="Circle Image" class="img-circle img-no-padding img-responsive" >
                        </div>
                        <div class="col-lg-7 col-md-4 col-4  ml-auto mr-auto">
                          <h6>Commande n° : <%=i%> </h6>
                          <small>Identifiant de la commande : <%=t.id%></small><br>
                          <small>Prix total de la commande : <%=t.prix_total%>€</small>

                        </div>
                    </div>
                  </li>
                  <% i = i + 1 %>
                <%end%>

                <%if @order.count != 0 %>

                  <% prix_total = 0 %>
                  <% @order.each do |t| %>
                    <% prix_total += t.prix_total.to_i %>
                  <%end%>
                    <br><br><br>
                    <p> <strong> Prix total de mes commandes :</strong> <%= prix_total %>€ </p>
                    <p> <strong> Mon panier Moyen : </strong> <%= prix_total/@order.count%>€</p>
                <%end%>

              </ul>
            </div>

          </div>
        </div>
        <div class="tab-pane text-center" id="following" role="tabpanel">
	  <h6> change profil picture </h6><br>
          <%= form_tag user_avatar_index_path(@user), multipart: true do %>
          <%= file_field_tag :avatar %>
          <%= submit_tag "mettre à jour" %>
          <% end %>
	  <br>
          <button class="btn btn-warning btn-round"><a href="<%= edit_user_registration_path %>">Edit profil</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
