<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

 <div class="section section-image section-login" style="background-image: url('./assets/img/login-image.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mx-auto">
            <div class="card card-register">
              <h3 class="title mx-auto">Welcome</h3>
              <div class="social-line text-center">
                <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon mt-0">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon mt-0">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon mt-0">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
              <form class="register-form">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <label>Email</label>
                <div class="input-group form-group-no-border">
                  <div class="input-group-prepend">
                    <span class="input-group-text"   <%= f.label :email %><br /> <%= f.email_field :email, autofocus: true, autocomplete: "email" %>>

                      <i class="nc-icon nc-email-85"></i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email">
                </div>
                <label>Password</label>
                <div class="input-group form-group-no-border">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password">
                </div>
                <button class="btn btn-danger btn-block btn-round">Register</button>
              </form>
              <div class="forgot">
                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
              </div>
            </div>
