<!DOCTYPE html>
<html>
  <head>
    <title>Katchup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Fonts and icons -->
    <script src="https://kit.fontawesome.com/2f609438b2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- Fonts and icons End -->

    <%= favicon_link_tag asset_path('cat.ico') %>

  </head>

  <body>

    <% if user_signed_in? %>
      <%@cart = Cart.find(current_user.id)%>
      <%@nombreItem = CartItem.where(cart:@cart)%>
    <%end%>

    <!-- NavBar -->

      <nav class="navbar navbar-expand-lg bg-primary fixed-top">
        <div class="container ml-0">
	  <img src="https://www.petbarn.com.au/skin/frontend/enterprise/petbarn/images/dropdowns/dropdown_cat.gif" class="col-lg-1 mb-4 ml-0">
          <a class="navbar-brand" href="<%= root_path %>" style="font-size:28px;">Katchup</a>
          <a class="nav-link navbar-brand" href="#"><span class="sr-only">(current)</span>Catégories</a>
          <a class="nav-link navbar-brand" <%=link_to "L'équipe", teams_path %> </a>
          <a class="nav-link navbar-brand" <%=link_to "Nous contacter", contacts_path%> </a>
          <button class="navbar-toggler navbar-toggler-right burger-menu" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          </button>

          <div class="collapse navbar-collapse" id="navbar-primary">
            <ul class="navbar-nav ml-auto">

              <li class="nav-item">

                <li class="nav-item dropdown navbar-toggler-right">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mes options
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <% if user_signed_in? && current_user.is_admin == true%>
                      <a class="dropdown-item" href="<%=user_path(current_user)%>">Mon profil</a>
                      <a class="dropdown-item" href="<%=admin_root_path%>">Page Admin</a>
                      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
                    <% elsif user_signed_in? %>
                      <a class="dropdown-item" href="<%=user_path(current_user)%>">Mon profil</a>
                      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
                    <%else%>
                      <a class="dropdown-item" href="<%=new_user_session_path%>">Se connecter</a>
                      <a class="dropdown-item" href="<%=new_user_registration_path%>">S'inscrire</a>
                    <%end%>

                  </div>
                </li>

                <% if user_signed_in? %>
                  <li class="nav-item">
                       <a class="nav-link" href="<%=cart_path(Cart.find(current_user.id))%>"><i class="fas fa-cart-plus fa-4x"></i> <%=@nombreItem.count%></a>
                  </li>
                <%end%>

                </li>

            </ul>
          </div>

        </div>
      </nav>


  <!-- End NavBar -->



    <!-- end nav 2 test -->


    <%= yield %>
  </body>
  <!-- Footer -->
  <footer class="page-footer bg-primary text-white">
<br>
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Katchup Company</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Katchup est une entreprise connue dans le monde entier, nous vendons des photos de chats de qualité, que personne ne peut égaler.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Produits</h6>
          <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="text-white" href="https://pixabay.com/fr/images/search/chat%20bleu/">Chat bleu</a>
          </p>
          <p>
            <a class="text-white" href="https://pixabay.com/fr/images/search/chat%20rouge/">Chat rouge</a>
          </p>
          <p>
            <a class="text-white" href="https://pixabay.com/fr/images/search/chat%20vert/">Chat vert</a>
          </p>
          <p>
            <a class="text-white" href="https://pixabay.com/fr/images/search/chat%20bott%C3%A9/">Chat botté</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
          <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="text-white" href="<%=new_user_session_path%>">Mon profil</a>
          </p>
          <p>
            <a class="text-white" href="<%=new_user_session_path%>">Envoyez vos photos</a>
          </p>
          <p>
            <a class="text-white" href="https://www.youtube.com/watch?v=ZM3e5Rj8BCE">Signalez un problème</a>
          </p>
          <p>
            <a class="text-white" href="https://www.youtube.com/watch?v=2Q_ZzBGPdqE">Help</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home"></i> Montpellier, MTP 34000, FR</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> thp.mtp@gmail.com </p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/">| THP MTP</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
</html>
